body{
    background-color: black;
    background-image: url(./../assets/img/bg/bg1.png);
    background-repeat: repeat;
}
body::after{
    position: fixed;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -2;
    background: black;
}
header{
    position: fixed;
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    height: 64px;
    background-image: url(./../assets/img/headerbg.png);
}
header::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 1;
    background: linear-gradient(to top, black, transparent);
}
.overlayl{
    position: absolute;
    float: left;
    position: fixed;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
}
.overlayr{
    position: absolute;
    float: right;
    position: fixed;
    content: "";
    right: 0;
    top: 0;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.example{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 2000px;
}
